* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #E2E6F8;
}
.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    position: fixed;
    width: 100vw;
    
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    padding-right: 10px;
    width: 60px;
}

.nav {
    width: 25vw;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: #000;
    width: auto;
    height: 40px;
    font-weight: 300;
    padding: 6px 16px;
    border-radius: 99px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
nav a:hover{
    scale: 1.05;
    font-weight: 400;
    background-color: #ffb451;
    box-shadow: 3px 3px 10px rgba(36, 35, 35, 0.25);
}
.profile img {
    width: 10vw;
    border-radius: 99px;
}

.profilediv {
    width: 20vw;
    background-color: #FFBC66;
    height: 100vh;
    /* position: fixed */
}

.mainpg {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.profile {
    /* padding: 12px; */
    position: absolute;
    top: 20vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about {
    padding-top: 10px;
    /* padding-right: 6px; */
}

.info {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 78vw;
    margin: 1vw;
    padding: 1.5vh 5vh;
    /* margin: auto; */

}

.questions {
    display: flex;
    flex-direction: column;
}

.answers {
    display: flex;
    flex-direction: column;
}
.ques{
    padding: 12px 0px;
    font-weight: 600;
}
.ans{
    padding: 12px;
    font-weight: 300;
}
.details{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: space-between; */
    overflow: scroll;
}
.edu{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 78vw;
}
.eduinfo{
    width: 38vw;
    display: flex;
    flex-direction: row;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 2vw 0px;
    padding: 1.5vh 5vh;
    
}
.cards{
    display: flex;
    flex-direction: row;
}
.educards{
    display: flex;
    flex-direction: column;
}
.edudata{
    display: flex;
    flex-direction: row;
}
.topic{
    font-weight: 300;
    color: #495FD7;
}
.pro_card{
    /* position: absolute;
    top: 80px;
    left: 320px;*/
    padding: 10px; 
    margin: 70px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    background-color: #F7F7F7;
    width: 20vw;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);


}
.pro_card img{
    width: 10vw;
    height: 10vw;
    border-radius: 99px;
}
.al_cards{
    /* margin-top: 8vh; */
    display: flex;
}

.notice{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}