<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/prop.css">
</head>
<body>
    <nav class="navlinks">
<div class="logo">
    <img src="../static/img/logo.png" alt="logo">
    <h2>logo</h2>
</div>
<div class="nav">
    <a href="">home</a>
    <a href="">Contact</a>
    <a href="">about us</a>

</div>
<div class="btns">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
</div>
    </nav>
    <div class="mainpg">
        <div class="profilediv">
            <div class="profile">
                <img src="../static/img/2.png" alt="">
                <h4 class="about">{{name}}</h4>
                <span class="about">{{email}}</span>
                <span class="about">{{phone_no}}</span>
                <span class="about">{{address}}</span>
            </div>
        </div>

        <div class="details">
            <div class="info">
            <h2 class="topic">Schoolarship Information</h2>
                <div class="cards">
                    <div class="questions">
                        <span class="ques">Registration Number</span>
                        <span class="ques">Name of Examination</span>
                        <span class="ques">Institute Alloted</span>
                        <span class="ques">Duration</span>
                    </div>
                    <div class="answers">
                        <span class="ans">{{reg_no}}</span>
                        <span class="ans">NA</span>
                        <span class="ans">NA</span>
                        <span class="ans">NA</span>
                    </div>
                </div>
            </div>
            <!-- <hr> -->
            <div class="info">
                <h2 class="topic">Important Links
                </h2>
                <div class="cards">
                    <div class="questions">
                        <span class="ques">link1</span>
                        <span class="ques">link2</span>
                        <span class="ques">link3</span>
                        <span class="ques">link4</span>
                        <span class="ques">link4</span>
                        <span class="ques">link5</span>
                    </div>
                    <div class="answers">
                        <span class="ans">{{link}}</span>
                        <span class="ans">{{link}}</span>
                        <span class="ans">{{link}}</span>
                        <span class="ans">{{link}}</span>
                        <span class="ans">{{link}}</span>
                        <span class="ans">{{link}}</span>
                    </div>
                </div>
            </div>
            
        </div>


</body>
</html>