<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute details</title>
    {% load static %}
    <link rel="stylesheet" href="../static/css/prem.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">logo</div>
        <div class="login">Login</div>
    </nav>
    <main class="flex flex-col justify-evenly items-center h-full">
        <ul class="steps">
            <li class="step step-success">Institute Details</li>
            <li class="step ">Upload Document</li>
        </ul>
        <form method="post" action="i_details">
            {%csrf_token%}
            <div class="card w-1/2 bg-base-100 shadow-xl">
                <div class="card-body items-start text-center ">
                    <div class="flex justify-around w-full gap-1">
                        <div class="grid w-1/2">
                            <label class="label" for="name">Coaching's Name</label>
                            <input type="text" placeholder="Coaching's Name" class="input input-bordered w-full " value="{{name}}" name="name" required />
                        </div>
                        <div class="grid w-1/2">
                            <label class="label" for="date">Competitive Exam</label>
                            <input type="text" placeholder="Competitive Exam" class="input input-bordered w-full " value="{{exam}}" name="exam" required />
                        </div>
                    </div>
                    <div class="flex justify-around w-full gap-1">
                        <div class="grid w-1/2">
                            <label class="label" for="name">Coaching's Email</label>
                            <input type="email" placeholder="Coaching's Email" class="input input-bordered w-full " value="{{email}}" name="email" required />
                        </div>
                        <div class="grid w-1/2">
                            <label class="label" for="date">Phone Number</label>
                            <input type="number" placeholder="Phone No" class="input input-bordered w-full " value="{{phone_no}}" name="phone_no" required />
                        </div>
                    </div>
                    <div class="flex justify-around w-full gap-1">
                        <div class="grid w-1/2">
                            <label class="label" for="password">Password</label>
                            <input type="password" placeholder="Password" class="input input-bordered w-full " value="{{password}}" name="password" required />
                        </div>
                        <div class="grid w-1/2">
                            <label class="label" for="c_password">Confirm Password</label>
                            <input type="password" placeholder="Password" class="input input-bordered w-full " value="{{c_password}}" name="c_password" required />
                        </div>
                    </div>

                    <label class="label" for="date">Website(If any)</label>
                    <input type="text" placeholder="Website" class="input input-bordered w-full " value="{{website}}" name="website" />
                    <br><p style="color:red; font-weigth:500;">{{msg}}</p><br>
                    <div class="card-actions w-full">
                        <button class="btn btn-success btn-block" style="background-color:#6E78AC;">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>